{% comment %}
    @param {boolean} bottom - bottom will render <hr> 
{% endcomment %}

{% if site.featured-tags %}
<section>
    <!--最新更新-->
    <h4 class="index-title"><i class="el-bulb"></i>最新资讯
        <small>Latest News</small>
    </h4>
    <ul>
        <li><i class="el-music"></i>
            <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=2&id=28907016&auto=1&height=66"></iframe>
        </li>
        <li><i class="el-cloud"></i>
            <iframe id="tianqi" scrolling="no" frameborder="0" allowtransparency="true"
                    src="http://i.tianqi.com/index.php?c=code&a=getcode&id=34&h=25&w=280"></iframe>
        </li>

        <li><i class="el-calendar"></i>历史今天：
            <iframe src="http://www.todayonhistory.com/code/6.html?w=250&h=20&bky=dotted&bks=0&fs=14&fc=#565656&hg=14&ie=0&xhx=none&sd=300&px=3&len=0&sk=1&n=0"
                    width="250" height="15" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
        </li>
        <li><i class="el-eat"></i>今天吃什么：
            <iframe src="http://www.nicetool.net/embed/what_to_eat.html" width="100%" height="450px;" scrolling="no" style="border:0px;"></iframe>
        </li>
        <li><i class="el-weather"></i>全球天气可视化：
            <iframe src="http://www.nicetool.net/embed/weather_forecast.html" width="100%" height="450px;" scrolling="no" style="border:0px;"></iframe>>
        </li>
    </ul>
    {% if include.bottom %}
        <hr class="hidden-sm hidden-xs">
    {% endif %}
    <h5><a href="{{'/archive/' | prepend: site.baseurl }}">FEATURED TAGS</a></h5>
    <div class="tags">
        {% capture tags %}
        {% comment %}
            there must be no space between for and if otherwise this tricky sort won't work.
            url_encode/decode is for escaping otherwise extra <a> will get generated 
            but it will break sort...
        {% endcomment %}
        {% for tag in site.tags %}{% if tag[1].size > site.featured-condition-size %}
                <a data-sort="{{ site.posts.size | minus: tag[1].size | prepend: '0000' | slice: -4, 4 }}" 
                    href="{{ site.baseurl }}/archive/?tag={{ tag[0] | url_encode }}"
                    title="{{ tag[0] }}"
                    rel="{{ tag[1].size }}">{{ tag[0] }}</a>
        {% endif %}{% endfor %}
        {% endcapture %}
        {{ tags | split:'</a>' | sort | join:'</a>' }}
    </div>
</section>
{% endif %}